<!-- Currently using this view to test fb API calls -->

<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          <h2>Just Hanging out</h2>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">My FB Profile Photo!</div>
      <div class="item item-body">
        <div>
          Maybe a photo?
          <img ng-src="//graph.facebook.com/{{fbId}}/picture">
          ID:  {{fbId}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
