<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Swipe Tab -->
  <ion-tab title="Find Roomate" icon-off="ion-android-search" icon-on="ion-android-search" ng-if="userStatus()" href="#/tab/swipe">
    <ion-nav-view name="tab-swipe"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ng-if="userStatus()" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ng-if="userStatus()" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Matches" icon-off="ion-android-bar" icon-on="ion-android-bar" ng-if="userStatus()" href="#/tab/matches">
    <ion-nav-view name="tab-matches"></ion-nav-view>
  </ion-tab>

</ion-tabs>
