<ion-view view-title="Account-Place">
  <ion-content>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="//graph.facebook.com/{{fbId}}/picture">
        <h2>Welcome, {{username}}</h2>
      </ion-item>

       <ion-form ng-model="location.host">
         <ion-checkbox ng-if="location.host === true || location.host === null;" ng-click="toggleHost(location.host, true)">I already have a place, just need a roommate</ion-checkbox>
         <ion-checkbox ng-if="!location.host" ng-click="toggleHost(location.host, false)">I have nothing!</ion-checkbox>
       </ion-form>
     
      <ion-list ng-if="location.host !== null">
         <!-- For location.host -->
        <div ng-if="location.host">
          <h2 ng-if="location.host">My Place</h2>
          <ion-item>
            <span class="input-label"><h2 ng-if="location.host">Rent: {{location.myPlace.rent | currency}}</h2></span>
            <div class="range">
              <i class="ion-social-usd"></i>
              <input ng-if="location.host" type="range" name="volume" ng-model="location.myPlace.rent" min="0" max="5000" step="10">
            </div>
          </ion-item>
          <ion-item>
            <div class="item item-input item-select">
              <span class="input-label"><h2>Rooms Available</h2></span>
              <select ng-model="location.myPlace.openRooms">
                <option ng-repeat="n in [] | range:1:10"> {{n}} </option>
              </select>
            </div>
            <div class="item item-input item-select">
              <span class="input-label"><h2>Room Type</h2></span>
              <select ng-model="location.myPlace.roomType">
                <option><h2>Private</h2></option>
                <option><h2>Shared</h2></option>
              </select>
            </div>
          </ion-item>
          <span class="input-label"><h4>Current Occupants</h4></span>
          <label class="item item-input item-stacked-label">
            <span class="input-label"><h2>Number: {{location.myPlace.occupants}}</h2></span>
            <div class="range">
              <i class="ion-person-stalker"></i>
              <input type="range" name="volume" ng-model="location.myPlace.occupants" min="0" max="10">
            </div>
            <div class="item item-input item-select">
              <span class="input-label"><h2>Genders</h2></span>
              <select ng-model="location.myPlace.genders">
                <option><h2>Mixed</h2></option>
                <option><h2>Male</h2></option>
                <option><h2>Female</h2></option>
              </select>
            </div>
          </label>
        </div>
            <!-- not location.host -->
        <div ng-if="!location.host">
          <h2 ng-if="!location.host">The Place I want</h2>
          <ion-item>
            <span class="input-label"><h2 ng-if="!location.host">Desired Rent: {{location.desiredPlace.rent | currency}}</h2></span>
            <div class="range">
              <i class="ion-social-usd"></i>
              <input ng-if="!location.host" type="range" name="volume" ng-model="location.desiredPlace.rent" min="0" max="5000" step="10">
            </div>
          </ion-item>
        </div>

        <ion-item class="account-buttons">
          <a ng-href="#/tab/account/map" class="button icon-right button-block ion-chevron-right button-outline button-dark">Location</a>
        </ion-item>

      </ion-list>

      <ion-item ng-if="location.host !== null">
        <button class="button button-block button-positive col col-50 col-offset-25 col-center" ng-click="savePreferences()">
          Save Preferences
        </button>
      </ion-item>

  </ion-content>
</ion-view>
