<ion-view view-title="Logout">
  <ion-content>
    <div class="bar bar-header bar-positive">
      <button class="button" ng-click="fbLogin()">Login</button>
      <h1 class="title">Logout</h1>
    </div>
    <div class="row">
      <div class="col col-50 col-offset-25 col-center">
        <br><br><br>
        {{loggedIn}}
        <br><br><br>
        <button class="button button-block button-positive" ng-click="fbLogout();">Logout</button>
      </div>      
    </div>
  </ion-content>
</ion-view> 