<ion-view view-title="{{profile.name}}">

  <ion-content class="padding">

    <div class="card">
      <div class="profile-content">
        <img ng-if="profile.id !== fbId" class="profile-image" ng-src="{{profile.face}}">
        <img ng-if="profile.fbid === fbId" class="profile-content-pic" ng-src="//graph.facebook.com/{{fbId}}/picture?type=large">
      </div>
    </div>

    <ion-list>

      <li class="item match item-text-wrap">
        <div class="profile-content">
          <profile-box ng-model="topBoxType" boxtype="topBoxType"></profile-box>
        </div>
      </li>
      
      <!-- /////////////////////////For Non Users //////////////////////-->
     <!--  Need to move this into dynamically loaded template as per <profile-box> above -->

      <div ng-if="profile!==User"
        <li class="item item-text-wrap">
          <div class="profile-content" ng-if="profile.location.host !==true">
            <strong>Ideal Rent:</strong> <br>{{profile.location.desiredPlace.rent | currency}}
          </div>
          <div class="profile-content" ng-if="profile.location.host ===true">
            <strong>Rent:</strong> <br>{{profile.location.myPlace.rent | currency}}
          </div>
        </li>

        <li class="item item-text-wrap">
          <div class="profile-content" ng-if="profile.location.host !==true">
            <strong>Location:</strong><br>{{profile.location.desiredPlace.city}}, {{profile.location.desiredPlace.state}}
          </div>
          <div class="profile-content" ng-if="profile.location.host ===true">
            <strong>Location:</strong><br>{{profile.location.myPlace.city}}, {{profile.location.myPlace.state}}
          </div>
        </li>

        <li class="item item-text-wrap">
          <div class="profile-content">
            <strong>Choice Ionicons:</strong><br>
            <div id="listIcons" class="profile-icons"><span id="listIcons" ng-repeat="icon in profile.selectedIcons" class="{{icon}}"> </span></div>
          </div>
        </li>

        <li class="item item-text-wrap">
          <div class="profile-content">
          <strong>Preferred Roommate Gender:</strong><br> {{profile.roommatePreferences.gender}}
          </div>
        </li>

        <li class="item item-text-wrap">
          <div class="profile-content">
          <strong>A few words of description:</strong><br> {{keywords}}
          </div>
        </li>
      </div>
       
       <!-- /////////////////For users who are not hosts ///////////////////////-->
       <!--  Need to move this into dynamically loaded template as per <profile-box> above -->

       <div ng-if="profile===User && profile.location.host===false">
        <li class="item item-text-wrap">
          <div class="profile-content">
            <strong>Ideal Rent:</strong> <br>{{profile.location.desiredPlace.rent | currency}}
          </div>
        </li>

        <li class="item item-text-wrap">
          <div class="profile-content">
            <strong>Location:</strong><br>{{profile.location.desiredPlace.city}}, {{profile.location.desiredPlace.state}}
          </div>
        </li>

        

        <li class="item item-text-wrap">
          <div class="profile-content">
            <strong>Choice Ionicons:</strong><br>
            <div class="profile-icons"><div id="listIcons" class="profile-icons"><span id="listIcons" ng-repeat="icon in profile.selectedIcons" class="{{icon}}"> </span></div>
          </div>
        </li>

        <li class="item item-text-wrap">
          <div class="profile-content">
          <strong>Preferred Roommate Gender:</strong><br> {{profile.roommatePreferences.gender}}
          </div>
        </li>

        <li class="item item-text-wrap">
          <div class="profile-content">
          </div>
        </li>
      </div>


      <!-- ////////////////For Users who are hosts////////////////// -->
      <!--  Need to move this into dynamically loaded template as per <profile-box> above -->
      <div ng-if="profile===User && profile.location.host === true;">
        <h2><strong>I have a place, I just need a Roommate</strong>
        <li class="item item-text-wrap">
          <div class="profile-content">
            <strong>Rent:</strong> <br>{{profile.location.myPlace.rent | currency}}
          </div>
        </li>

        <li class="item item-text-wrap">
          <div class="profile-content">
            <strong>Location:</strong><br>{{profile.location.myPlace.city}}, {{profile.location.myPlace.state}}
          </div>
        </li>

        <li class="item item-text-wrap">
          <div class="profile-content">
            <strong>Choice Ionicons:</strong><br>
            <div class="profile-icons"><div id="listIcons" class="profile-icons"><span id="listIcons" ng-repeat="icon in profile.selectedIcons" class="{{icon}}"> </span></div>
          </div>
        </li>

        <li class="item item-text-wrap">
          <div class="profile-content">
          <strong>Preferred Roommate Gender:</strong><br> {{profile.roommatePreferences.gender}}
          </div>
        </li>

        <li class="item item-text-wrap">
          <div class="profile-content">
          <strong>A few words of description:</strong><br> <div ng-repeat="keyword in profile.userInfo.keywords"> {{keyword}}</div>
          </div>
        </li>
      </div>

      <!-- only display like/dislike buttons if not matched -->
      <li class="item item-text-wrap">
        <div class="profile-content">
          <profile-box ng-model="bottomBoxType" boxtype="bottomBoxType" boxaction="candidateSwipe(like)" boxprofile="profile"></profile-box>
        </div>
      </li>

    </ion-list>
  </ion-content>
</ion-view>