<ion-view view-title="{{profile.name}}">
  <ion-content class="padding">

    <div class="card">
      <div class="profile-content">
        <img ng-src="{{profile.face}}">
        <!-- <img class="profile-content-pic" ng-src="//graph.facebook.com/{{User.id}}/picture?type=large"> -->
      </div>
    </div>
    <div class="card" ng-if="profile.matched">
      <div class="profile-content item item-text-wrap">
      <h1>We're a match!</h1>
      </div>
    </div>

    <div class="card" ng-if="!profile.matched">
      <div class="profile-content item item-text-wrap">
      <h1>Alas, we are not a match...yet!</h1>
      </div>
    </div>

    <!-- Only display contact info if matched -->
    <div class="card" ng-if="profile.matched">
      <div class="profile-content item item-text-wrap">
        <strong>Email:</strong><br> {{User.email}}
      </div>
    </div>

    <div class="card">
      <div class="profile-content item item-text-wrap">
        <strong>Ideal Rent:</strong> <br>{{profile.preferences.rent | currency}}
      </div>
    </div>

    <div class="card">
      <div class="profile-content item item-text-wrap">
        <strong>Ideal Zip Code:</strong><br>{{profile.preferences.zipCode}}
      </div>
    </div>

    <div class="card">
      <div class="profile-content item item-text-wrap">
        <strong>Choice Ionicons:</strong><br>
        <div class="profile-icons"><span class="ion-android-bar"></span><span class="ion-social-github"></span><span class="ion-social-freebsd-devil"></span></div>
      </div>
    </div>

    <div class="card">
      <div class="profile-content item item-text-wrap">
      <strong>Preferred Roommate Gender:</strong><br> {{profile.preferences.gender}}
      </div>
    </div>

    <div class="card">
      <div class="profile-content item item-text-wrap">
      <strong>A few words of description:</strong><br> {{profile.aboutMeWords}}
      </div>
    </div>

    <!-- only display like/dislike buttons if not matched -->
    <div class="card" ng-if="!profile.matched">
      <div class="profile-content item item-text-wrap">
        <button class="button-large button button-assertive icon-left ion-heart-broken" ng-click="pass(profile)">Pass</button>
        <button class="button-large button button-positive icon-left ion-heart" ng-click="like(profile)">Like</button>
      </div>
    </div>

  </ion-content>
</ion-view>