<ion-view view-title="{{profile.name}}">

<!--   <ion-nav-back-button class="button-clear"
    ng-click="myGoBack()">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button> -->

  <ion-content class="padding">

    
    <div class="card">
      <div class="profile-content">
        <img ng-src="{{profile.face}}">
        <!-- <img class="profile-content-pic" ng-src="//graph.facebook.com/{{User.id}}/picture?type=large"> -->
      </div>
    </div>

    

    <ion-list>
    <match-top-box ng-if="profile.type==='matches'"></match-top-box>
    <candidate-top-box ng-if="profile.type==='swipe'"></candidate-top-box>
    <user-top-box ng-if="profile.type==='user'"></user-top-box>
    <li class="item"><!--<div class="card">-->

      <div class="profile-content">
        <strong>Ideal Rent:</strong> <br>{{profile.preferences.rent | currency}}
      </div>
    </li><!-- </div> -->

    <li class="item"><!--<div class="card">-->
      <div class="profile-content">
        <strong>Ideal Zip Code:</strong><br>{{profile.preferences.zipCode}}
      </div>
    </li><!-- </div> -->

    <li class="item"><!--<div class="card">-->
      <div class="profile-content">
        <strong>Choice Ionicons:</strong><br>
        <div class="profile-icons"><span class="ion-android-bar"></span><span class="ion-social-github"></span><span class="ion-social-freebsd-devil"></span></div>
      </div>
    </li><!-- </div> -->

    <li class="item"><!--<div class="card">-->
      <div class="profile-content">
      <strong>Preferred Roommate Gender:</strong><br> {{profile.preferences.gender}}
      </div>
    </li><!-- </div> -->

    <li class="item"><!--<div class="card">-->
      <div class="profile-content">
      <strong>A few words of description:</strong><br> {{profile.aboutMeWords}}
      </div>
    </li><!-- </div> -->

    <!-- only display like/dislike buttons if not matched -->
    <li class="item"><!-- <div class="card" ng-if="!profile.matched"> -->
      <div class="profile-content">
        
      </div>
    </li><!-- </div> -->
      <like-dislike ng-if="profile.type==='matches'"></match-profile-box>
      <contact-info ng-if="profile.type==='swipe'"></candidate-profile-box>
      <edit-profile ng-if="profile.type==='user'"></user-profile-box>
    </ion-list>
  </ion-content>
</ion-view>