<ion-view view-title="RooMe" class="swipe-page">
  <ion-content scroll="false">

    <td-cards>
      <td-card ng-repeat="candidate in candidates" on-swipe-right="candidateSwipe(true)" on-swipe-left="candidateSwipe(false)">
        <div class="image" >

          <div class="item item-image">
            <a href="#/tab/swipe/profiles/{{candidate._id}}">
               <img ng-src="{{ candidate.face }}">        
            </a>
          </div>

          <div class="item item-text-wrap profile-content">
            <h2 id="h2">{{ candidate.name }}</h2>
            <div id="listIcons" class="profile-icons"><span id="listIcons" ng-repeat="icon in candidate.profile.icons" class="{{icon}}">  </span></div>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <div>
              <button class="button-medium button button-assertive icon-left ion-close" ng-click="candidateSwipe(false)">Skip</button>
              <button class="button-medium button button-positive icon-left icon ion-android-happy" ng-click="candidateSwipe(true)">Like</button>
            </div>
          </div>
        </div>

      </td-card>
    </td-cards>

    <div ng-if="!candidates.length" class="item item-text-wrap profile-content no-more-candidates">
      <ion-item>
        <h2 ng-if="user.location !== null">You don't have any more candidates, please come back later!</h2>
        <h2 ng-if="user.location === null"> Please set your search preferences! </h2>
      </ion-item>
    </div>

  </ion-content>
</ion-view>