<ion-view view-title="Swipe" class="swipe-page">
  <ion-content scroll="false">


    <div class="list card current-candidate" 
      ng-class="{skipped: currentCandidate.rated == false,
                 favorited: currentCandidate.rated == true}"
      ng-show="currentCandidate && !currentCandidate.hide">

      <div class="item item-image">
        <a href="#/tab/swipe/profiles/{{currentCandidate.id}}">
          <img ng-src="{{ currentCandidate.face }}">
        </a>
      </div>

      <div class="item item-text-wrap">
        <h2>{{ currentCandidate.name }}</h2>
        <p>{{ currentCandidate.aboutMeWords }}</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <div>
          <button class="button-medium button button-assertive icon-left ion-close" ng-click="candidateSwipe(false)">Skip</button>
          <button class="button-medium button button-positive icon-left icon ion-android-happy" ng-click="candidateSwipe(true)">Like</button>
        </div>
        <!-- <a class="tab-item" ng-click="candidateSwipe(false)">
          <i class="icon ion-close"></i>
          Skip
        </a>
        <a class="tab-item" ng-click="candidateSwipe(true)">
          <i class="icon ion-android-happy"></i>
          Like
        </a> -->
      </div>

    </div>


  </ion-content>
</ion-view>