<ion-view view-title="Map">
  <ion-content>
    <div class="item item-input-inset" id="panel">
      <label class="item-input-wrapper">
        <input ng-model="input.address" type="text" placeholder="Where to look">
      </label>
      <button ng-click="codeIt()" class="button button-small button-positive">Search</button>
    </div>
    <div id="map" data-tap-disabled="true"></div>

    <ion-item>
      <button ng-click="saveLocation()" class="button button-block button-positive col col-50 col-offset-25 col-center">
        Save Search Location
      </button>
    </ion-item>
  </ion-content>
</ion-view>
