<ion-view view-title="Matches">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="match in matches" type="item-text-wrap" href="#/tab/matches/profiles/matches/{{match._id}}">
        <img ng-src="{{match.face}}">
        <h2>{{match.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(match)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

    <div ng-if="!matches.length" class="item item-text-wrap profile-content no-more-candidates">
      <ion-item>
        <h2>You don't have any matches, better get to swiping!</h2>
      </ion-item>
    </div>

  </ion-content>
</ion-view>