<ion-view view-title="Matches">
  <ion-content>
  <button ng-click="getCandidates()">CLick Me, Fucker</button>
    <ion-list>
      <!-- for use with profile tab -->
      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="match in matches" type="item-text-wrap" href="#/tab/profiles/matches{{match.id}}"> -->
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="match in matches" type="item-text-wrap" href="#/tab/matches/profiles/matches/{{match.id}}">
        <img ng-src="{{match.face}}">
        <h2>{{match.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(match)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>