<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="//graph.facebook.com/{{fbId}}/picture">
        <h2>Welcome, {{username}}</h2>
      </ion-item>

      <ion-toggle  ng-model="preferences.lookingForRoommateOnly">
          <h2><strong>Do you already have a Place?</strong></h2>
      </ion-toggle>

      <ion-item>
        <h2 ng-if="!preferences.lookingForRoommateOnly"><strong>Desired Monthly Rent:</strong>  {{preferences.rent | currency}}</h2>
        <h2 ng-if="preferences.lookingForRoommateOnly"><strong>Rent:</strong>  {{preferences.rent | currency}}</h2>
        <br>
        <div class="range">
          <i class="ion-social-usd"></i>
          <input type="range" name="volume" ng-model="preferences.rent" min="0" max="5000" >
        </div>
      </ion-item>

      <label class="item item-input item-select">
          <div class="input-label">
            <h2><strong>Preferred Roommate Gender:</strong></h2>
          </div>
          <select ng-model="preferences.gender">
            <option><h2>Either</h2></option>
            <option><h2>Female</h2></option>
            <option><h2>Male</h2></option>
          </select>
        </label>

      <ion-item ng-if="!preferences.lookingForRoommateOnly">
        <h2><strong>Search radius:</strong>  {{preferences.radius}} miles</h2> <br>
        <div class="range">
          <i class="ion-earth"></i>
          <input type="range" name="volume" ng-model="preferences.radius" min="0" max="15" >
        </div>
      </ion-item>

      <label class="item item-input item-stacked-label" ng-if="!preferences.lookingForRoommateOnly">
        <span class="input-label"><h2><strong>Desired Zip Code:</strong></h2></span>
        <input type="text" placeholder="Please enter your desired zip code" ng-model="preferences.zipCode">
      </label>

      <ion-item>
        <button class="button button-block button-positive col col-50 col-offset-25 col-center" ng-click="save()">
          Save Preferences
        </button>
      </ion-item>

      <ion-item>
        <button class="button button-block button-assertive col col-50 col-offset-25 col-center" ng-click="fbLogout()">
          Logout
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
