<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
      <img ng-src="//graph.facebook.com/{{fbId}}/picture">
      <h2>Welcome, {{username}}</h2>
    </ion-item>

    <ion-item class="account-buttons">
      <a ng-href="#/tab/account/place" class="button icon-right button-block ion-chevron-right button-outline button-dark">The Place</a>
    </ion-item>

    <ion-item class="account-buttons">
      <a ng-href="#/tab/account/people" class="button icon-right button-block ion-chevron-right button-outline button-dark">The People</a>
    </ion-item>

    <ion-item class="account-buttons">
      <a ng-href="#/tab/account/profile" class="button icon-right button-block ion-chevron-right button-outline button-dark">My Profile</a>
    </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar>
    <div class="button-bar" >
      <a class="button button-outline button-assertive" ng-click="alert()">
        Delete Account
      </a>
      <a class="button button-outline button-positive" ng-click="logout()">
        Logout
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
