<ion-view view-title="Account-Profile" >

  <ion-content>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="//graph.facebook.com/{{fbId}}/picture">
        <h2>{{username}}'s Profile Settings</h2>
      </ion-item>

      <h2><strong>About Me</strong></h2>
      <ion-list>  
        <label class="item item-input item-stacked-label">
          <div class="item item-input item-select">
            <span class="input-label"><h2>Gender</h2></span>
            <select ng-model="profile.gender">
              <option><h2>Male</h2></option>
              <option><h2>Female</h2></option>
            </select>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <div class="item item-input item-select">
            <span class="input-label"><h2>Age</h2></span>
            <select ng-model="profile.age">
              <option ng-repeat="n in [] | range:16:100"> {{n}} </option>
            </select>
          </div>
        </label>
        <ion-item >
          <span class="input-label"><h1>Custom Icons</h1></span>
          <div id="listIcons" class="profile-icons"><span id="listIcons" ng-repeat="icon in profile.icons" class="{{icon}}" ng-click="removeFromSelected(icon)"> </span></div>
          <p id="ionicon-text">Start typing words that represent you to select icons</p>
          <label class="item item-input" id="ionicon-input">
            <input type="text" ng-model="search" /> 
          </label>
          <div id="listIcons" class="user-profile-icons"><span id="listIcons" ng-repeat="icon in getIonicons(search)" class="{{icon}}" ng-click="addToSelected(icon)"> </span></div>
        </ion-item>
      </ion-list>
      
      <ion-item>
        <button class="button button-block button-positive col col-50 col-offset-25 col-center" ng-click="saveProfile()">
          Save
        </button>
      </ion-item>
      
  </ion-content>
</ion-view>
