<ion-view view-title="Account-Preferences">
  <ion-content>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="//graph.facebook.com/{{fbId}}/picture">
        <h2>Welcome, {{username}}</h2>
      </ion-item>
     
      <ion-list>
        <h2><strong>What I Want</strong></h2>
        <h2 ng-if="!profile.host">The Place I Want</h2>
        <ion-item ng-if="!profile.host">
          <h2><strong>Desired Monthly Rent:</strong>  {{preferences.rent | currency}}</h2>
          <br>
          <div class="range">
            <i class="ion-social-usd"></i>
            <input type="range" name="volume" ng-model="preferences.rent" min="0" max="5000" step="10">
          </div>
        </ion-item>

        <label class="item item-input item-stacked-label" ng-if="!profile.host">
          <span class="input-label" ng-if="!profile.host"><h2><strong>Desired Zip Code:</strong></h2></span>
          <input type="text" ng-if="!profile.host" placeholder="Please enter your desired zip code" ng-model="preferences.zipCode">
        </label>

        <ion-item ng-if="preferences.host === false">
          <h2><strong>Search radius:</strong>  {{preferences.radius}} miles</h2> <br>
          <div class="range">
            <i class="ion-earth"></i>
            <input type="range" name="volume" ng-model="preferences.radius" min="0" max="15" >
          </div>
        </ion-item>

      </ion-list>

      <ion-list ng-if="preferences.host !== null;">  
        <h2><strong>The Roommate (s?)</strong></h2>
        <label class="item item-input item-select">
          <div class="input-label">
            <h2><strong>Preferred Roommate Gender:</strong></h2>
          </div>
          <select ng-model="preferences.gender">
            <option><h2>Either</h2></option>
            <option><h2>Female</h2></option>
            <option><h2>Male</h2></option>
          </select>
        </label>
      </ion-list>

      <ion-item ng-if="preferences.host !== null">
        <button class="button button-block button-positive col col-50 col-offset-25 col-center" ng-click="savePreferences()">
          Save Preferences
        </button>
      </ion-item>

      <ion-item>
        <button class="button button-block button-assertive col col-50 col-offset-25 col-center" ng-click="fbLogout()">
          Logout
        </button>
      </ion-item>
  </ion-content>
</ion-view>
